.App {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.header{
  grid-column: span 3;
  text-align: center;
  align-self: start;
}

.input {
  grid-column: span 3;
  display: flex;
  align-self: start;
  justify-content: space-evenly;
}

.package-list{
  grid-column: span 1;
  align-self: start;
}

.scrollable{
  height: 70vh;
  overflow-y: auto;
}

.package-list-container :hover{
  background-color: #000000;
  color: #bbbbbb; 
}

.active{
  background-color: hotpink;
}

.package-info{
  grid-column: span 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: start;
}

@media only screen and (max-width: 600px) {
  .package-list {
    grid-column: span 3;
  }

  .package-info {
    grid-column: span 3;
    position: -webkit-sticky;
    position: sticky;
  }

  .scrollable{
    height: 35vh;
    overflow-y: auto;
  }
}
